cluster-domain: {{ server_vars.cluster.domain }}
write-kubeconfig-mode: {{ server_vars.cluster.kubeconfig_write_mode }}
disable: {{ server_vars.cluster.disable | list }}
disable-cloud-controller: {{ server_vars.cluster.disable_cloud_controller }}
secrets-encryption: {{ server_vars.cluster.encrypt_secrets }}
flannel-backend: {{ server_vars.cluster.flannel_backend }}
  
node-name: {{ server_vars.name }}
node-label: {{ server_vars.labels | list }}
node-taint: {{ server_vars.taints | list }}
server: {{ server_vars.join_ip }}
token: {{ server_vars.token }}